<div id="edit" class="content">
    {{#with store}}
    <h1>Edit {{name}}</h1>

    <form action="/edit/{{_id}}" method="POST">
        <label for="name">Title: </label>
        <input type="text" name="name" id="name" value="{{ name }}">

        <label for="description">Description: </label>
        <input type="text" name="description" id="description" value="{{ description }}">

        <label for="opening_hours">Opening hours: </label>
        <input type="text" name="opening_hours" id="opening_hours" value="{{ opening_hours }}">

    <button type="submit">Edit this store</button>
    </form>
    {{/with}}
</div>
