<div class="content">
  <h1>Hello, {{ user.username }}, you're logged in!</h1>

  {{#if user.avatar }}
  <img class="profile-pic" src="{{ user.avatar.path }}" alt="" />
  {{/if}}

  {{#if err_msg}}
  <p class="warning">{{ err_msg }}</p>
  {{/if}}

  <form
    action="/new-pic/{{ user._id }}"
    method="post"
    enctype="multipart/form-data"
  >
    <label for="pic">Upload new profile pic: </label>
    <input type="file" name="pic" id="pic" />

    <button type="submit">Upload Profile Pic</button>
  </form>

  <h2>Your upload history:</h2>
  {{#if stores}}
    {{#each stores}}
    <div class="store-card">
      <p>{{name}}</p>
      {{!-- <img src="" alt=""> --}}
      <a href="/view/{{_id}}">View</a>
      <a href="#">Edit</a>
      <a href="/delete/{{_id}}">Delete</a>
    </div>
    {{/each}}
  {{else}}
  You haven't submitted any stores yet.
  {{/if}}
  <a href="/">
    Back to Map
  </a>
</div>
