<div class="banner">
  <div class="banner-text">
    {{#if user.avatar }}
    <img class="profile-pic" src="{{ user.avatar.path }}" alt="" />
    {{/if}}
    <h1>Hello, {{ user.username }},<br />welcome back!</h1>
  </div>
</div>
<div id="profile" class="content">
  <div class="user-info">
    <p>
      <span>Username:</span><span>{{ user.username }}</span>
    </p>
    <p>
      <span>Email:</span><span>{{ user.email }}</span>
    </p>
    <form
      id="pic-upload"
      action="/new-pic/{{ user._id }}"
      method="post"
      enctype="multipart/form-data"
    >
      <label for="pic">Upload new profile pic:</label>
      <div class="pic-submit-btn">
        <input type="file" name="pic" id="pic" />
        <button type="submit">Upload Profile Pic</button>
      </div>
    </form>
  </div>

  {{#if err_msg}}
  <p class="warning">{{ err_msg }}</p>
  {{/if}}

  <h2>Your upload history:</h2>
  {{#if stores}}
  <div id="store-list">
    {{#each stores}}
    <section>
      <div class="top-box">
        <img src="{{ picUrl }}" alt="picture of {{ title }}" />
      </div>
      <div class="bottom-box">
        <p class="store-name">{{ name }}</p>
        <p class="store-address">{{ address }}</p>
        <div class="buttons">
          <a class="button" href="/view/{{ _id }}">View</a>
          {{!-- <a href="#">Edit</a> --}}
          <a class="button" href="/delete/{{ _id }}">Delete</a>
        </div>
      </div>
    </section>
    {{/each}}
  </div>
  {{else}}
  You haven't uploaded anything yet.
  {{/if}}
</div>
