<div class="content">
  <h1>Hello, {{ user.username }}, you're logged in!</h1>

  {{#if user.avatar }}
  <img class="profile-pic" src="{{ user.avatar.path }}" alt="" />
  {{/if}}

  {{#if err_msg}}
  <p class="warning">{{ err_msg }}</p>
  {{/if}}

  <form
    action="/new-pic/{{ user._id }}"
    method="post"
    enctype="multipart/form-data"
  >
    <label for="pic">Upload new profile pic: </label>
    <input type="file" name="pic" id="pic" />

    <button type="submit">Upload Profile Pic</button>
  </form>

  <h2>Your upload history:</h2>
  {{#if stores}}
  <div id="store-list">
    {{#each stores}}
    <section>
      <div class="top-box">
        <img src="{{#if picUrl}}{{picUrl}}{{else}}{{pictureId}}{{/if}}" alt="picture of {{title}}" />
      </div>
      <div class="bottom-box">
        <p class="store-name">{{name}}</p>
        <p class="store-address">{{address}}</p>
        <div class="buttons">
          <a class="button" href="/view/{{_id}}">View</a>
          {{!-- <a href="#">Edit</a> --}}
          <a class="button" href="/delete/{{_id}}">Delete</a>
        </div>
      </div>
    </section>
    {{/each}}
  </div>
  {{else}}
  You haven't uploaded anything yet.
  {{/if}}

  <a href="/">
    Back to Map
  </a>
</div>
